/* Pixellated font */
@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  max-width: 100%;
  font-family: 'VT323', cursive, sans-serif;
  font-size: 1.5em;
  background: green;
}

/*********************
* Navbar styling
********************/
ul.navbar  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


li.navitem {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #bbb;
}

li.navitem:last-child {
  border-right: none;
}

li:hover {
  background-color: #111;
}

li.active {
  background-color: #4caf50;
}

a, a:visited {
  color: white;
  text-decoration: none;
}

/*******************
* Channel viewer styling
*******************/


.channel-list-item {
  border: 3px solid white;
  border-radius: 10px;
  box-shadow: 2px 2px #333;
  display: flex;
  flex-flow: row wrap;
  color: white;
  text-shadow: 1px 1px #000;
  padding: 10px;
  margin: 10px;
  background: rgb(0, 0, 178);
  background: -webkit-linear-gradient(top left, rgb(0, 0, 176), rgb(0, 0, 32));
  background: -o-linear-gradient(top left, rgb(0, 0, 176), rgb(0, 0, 32));
  background: moz-linear-gradient(top left, rgb(0, 0, 176), rgb(0, 0, 32));
  background: linear-gradient(to bottom right, rgb(0, 0, 176), rgb(0, 0, 32));

}

.channel-icon {
  width: 20%;
}

img {
  margin: auto;
  width: 80%;
  height: 80%;
  max-width: 80px;
  max-height: 80px;
}

.channel-name {
  width: 40%;
}

.channel-content {
  width: 40%;
}

.offline {
  color: rgb(94, 94, 94)
}
