body {
  font-family: sans-serif;
}

/*********************
* Navbar styling
********************/
ul.navbar  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


li.navitem {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #bbb;
}

li.navitem:last-child {
  border-right: none;
}

li:hover {
  background-color: #111;
}

li.active {
  background-color: #4caf50;
}

a, a:visited {
  color: white;
  text-decoration: none;
}

/*******************
* Channel viewer styling
*******************/


.channel-list-item {
  border: 2px solid white;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  color: white;
  background-color: rgb(0, 0, 178);
}

.channel-icon {
  width: 20%;
}

.channel-name {
  width: 40%;
}

.channel-content {
  width: 40%;
}
